
    body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.recipe-card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(238, 20, 20, 0.2);
  max-width: 500px;
  width: 100%;
  
  
 
}

.recipe-card h1 {
  margin-top: 0;
}

.recipe-details p {
  margin: 0;
}

.recipe-details {
  margin-bottom: 20px;
}

ul, ol {
  padding-left: 20px;
}

ul li, ol li {
  margin-bottom: 10px;
}
